.recipe {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.recipe__header-container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.recipe__name {
  font-size: 60px;
  padding-left: 30px;
}

.recipe__stats {
  grid-column: 1/-1;
  display: grid;
  padding: 0 30px;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  margin-bottom: 20px;
}

.recipe__tagline {
  font-size: 30px;
  justify-self: left;
}

.recipe__abv,
.recipe__srm,
.recipe__ibu {
  height: 80%;
  text-align: center;
  border-left: 2px solid black;
  padding: 10px 10px 30px 10px;
  font-weight: bold;
}

.recipe__about {
  /* border: 1px solid black; */
  background-color: rgb(202, 202, 202);
  align-self: start;
}

.recipe__about__header {
  border-bottom: 2px solid black;
  padding: 5px;
}

.recipe__about__description {
  padding: 10px;
}

.recipe__ingredients {
  grid-row: span 2;
}

.recipe__target-data {
  grid-column: 1;
}

.recipe__method {
  grid-row: 3;
  grid-column: 3;
}

@media screen and (max-width: 1000px) {
  .recipe {
    grid-template-columns: repeat(2, 1fr);
  }

  .recipe__name {
    font-size: 40px;
  }

  .recipe__tagline {
    font-size: 25px;
  }

  .recipe__about {
    grid-column: 1;
    grid-row: 3;
  }

  .recipe__method {
    grid-column: 1;
    grid-row: 5;
  }
}

@media screen and (max-width: 750px) {
  .recipe {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .recipe__name {
    font-size: 25px;
  }

  .recipe__tagline {
    font-size: 20px;
  }

  .recipe__ingredients,
  .recipe__food-pairings {
    width: unset;
    margin: unset;
  }

  .recipe__abv,
  .recipe__srm,
  .recipe__ibu {
    font-size: 12px;
  }

  .recipe-btn {
    font-size: 10px;
    padding: 6px 10px;
  }
}
