.error {
  grid-column: 1/-1;
  margin-top: 15px;
  width: 400px;
  height: 300px;
  border: 1px solid rgb(211, 211, 211);
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.error h2 {
  text-align: center;
}

.sad-face {
  font-size: 60px;
}

.error-btn {
  margin-top: 15px;
}

@media screen and (max-width: 400px) {
  .error {
    width: 95%;
  }
}
