.saved-recipes {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 0 20px;
}

.saved-recipes h1 {
  grid-column: 1/-1;
  margin-bottom: 20px;
}

.saved-recipes__card h3 {
  font-size: 24px;
}

.saved-recipes__card {
  display: grid;
  grid-template-columns: 1fr repeat(5, auto);
  align-items: center;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 3px;
}

.saved-recipes__card p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 0 10px;
  border-left: 3px solid black;
  height: 90%;
  vertical-align: center;
}

.saved-btn {
  grid-column: unset;
  align-self: center;
}

.saved {
  margin-left: 5px;
}

@media screen and (max-width: 1050px) {
  .saved-recipes {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .saved-recipes h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .saved-recipes__card h3 {
    font-size: 18px;
  }

  .saved-recipes__card p {
    font-size: 14px;
  }

  .saved {
    font-size: 10px;
    padding: 6px 10px;
  }
}
