.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 25%;
}

.nav {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  justify-content: start;
  align-content: end;
  height: 100px;
  background-color: rgb(114, 114, 114);
}

.nav__header {
  color: white;
  font-size: 50px;
  font-family: "Gravitas One", cursive;
  padding-left: 10px;
}

.nav-link {
  text-decoration: none;
  align-self: end;
  color: white;
  font-size: 22px;
  padding: 3px 6px;
  margin: 7px;
}

.active {
  color: #fdb813;
  border-bottom: 1px solid #fdb813;
}

@media screen and (max-width: 1000px) {
  .nav__header {
    font-size: 30px;
  }

  .nav-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .nav__header {
    font-size: 20px;
    align-self: center;
  }

  .nav-link {
    font-size: 16px;
  }
}
