.search {
  grid-column: 1/-1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(179, 179, 179);
  background-color: #fff;
  border-radius: 50px;
  width: 80%;
  height: 50px;
  max-width: 700px;
  padding: 0 15px;
  overflow: hidden;
}

.search__container:hover,
.search__container:focus-within {
  box-shadow: -2px 5px 9px rgba(0, 0, 0, 0.2);
}

.search__icon {
  font-size: 25px;
}

.search__input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
  outline: none;
}

.search__clear {
  font-size: 20px;
}

.search__clear:hover {
  cursor: pointer;
}

.search__btn {
  display: none;
}

@media screen and (max-width: 700px) {
  .search {
    height: 50px;
  }

  .search__container {
    width: 90%;
    height: 30px;
  }

  .search__icon {
    font-size: 20px;
  }
}
