.featured-beers {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.featured-beers__header {
  margin-left: 20px;
  grid-column: 1/-1;
}

.img-container {
  grid-column: 1/-1;

  position: relative;
  width: 90vw;
  height: 45vw;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #00000093 30%, #b1b1b144 100%);
  margin-bottom: 20px;
}

.hero-img {
  width: 100%;
  z-index: -5;
}

.hero-img-mantra {
  position: absolute;
  color: white;
  font-weight: 900;
  font-size: 30px;
  bottom: 5%;
  left: 5%;
}

.beer-card {
  grid-column: span 1;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: min-content min-content auto;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
  min-height: 200px;
  text-align: left;
  box-shadow: -2px 5px 9px rgba(0, 0, 0, 0.2);
}

.beer-card__name,
.beer-card__tagline {
  grid-column: 1;
}

.beer-card__description,
.recipe-link-btn {
  grid-column: 2;
}

.btn {
  padding: 10px 15px;
  border-radius: 50px;
  outline: none;
  background-color: #ffbf69;
  border: 2px solid #ff9f1c;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(2px);
  box-shadow: inset -2px 3px 9px rgba(0, 0, 0, 0.2);
}
.btn:focus {
  border: 2px solid #000;
}

.beer-card__description {
  grid-row: 1/3;
}

.recipe-link-btn {
  align-self: end;
  justify-self: end;
}

@media screen and (max-width: 1000px) {
  .featured-beers {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .hero-img-mantra {
    font-size: 18px;
  }

  .beer-card {
    margin: 5px;
  }
}
